.footer__sect{
    background-color: rgb(0, 30, 95);;
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.svg__sect{
    display: flex;
    justify-content: space-between;
}

.svg__sect svg{
    margin: 0 0.5rem;
}

.footer__container{
    
    /* bottom: 0; */
    /* left: 0; */
}