.info__sect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2rem 0;
}

.my_pix{
    /* width: 5000px; */
    width: 80%;
    /* height: 400px; */
    border-radius: 50%;
    /* object-fit: contain; */
}

.image__sect{
    text-align: center;
}

.intro__section{
    background-color: rgba(219, 239, 252, 0.6);
}

.my__name{
    color: rgb(0, 30, 95);
    /* margin-bottom: 0; */
    font-size: 3rem;
    font-weight: bolder;
}

.intro__division{
    padding: 2rem 0;
}

@media (min-width: 992px){
    .intro__division{
        display: flex;
        justify-content: space-between;
        width: 90%;
        max-width: 1520px;
    }

    .image__sect{
        order: 2;
        display: flex;
        justify-content: center;
        margin-right: 5rem;
        /* margin: 0 10rem; */
        /* padding: 0 10rem; */
        /* text-align: start; */
        /* width: 50%; */
    }

    .info__sect{
        /* text-align: center; */
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 40%;
    }

    .my__name{
        color: rgb(0, 30, 95);
        /* margin-bottom: 0; */
        font-size: 7rem;
        font-weight: bolder;
    }

    .info__sect p{
        font-size: 1.5rem;
    }

    .my_pix{
        /* width: 5000px; */
        width: 100%;
        height: 400px;
        object-fit: contain;
        border-radius: 20%;
    }
}